/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/* WHOLE DOCUMENT STYLE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

/* SMOOTH SCROLLING */
html {
    scroll-behavior: smooth;
}

/* BODY STYLE */
body {
    background: #03050a;
    color: #f3e3ff;
}

/* COLOR VARIABLES */
:root {
    --cyber-purple: #b400ff;
    --glow: 0 0 3px #b400ff, 0 0 6px #b400ff;
}

/* TOP WINDOW */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgba(180, 0, 255, 0.08);
    backdrop-filter: blur(8px);
    border-bottom: 1px solid var(--cyber-purple);
    box-shadow: 0 0 20px rgba(180, 0, 255, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

/* TOP LEFT TEXT */
.logo {
    font-size: 28px;
    font-weight: 700;
    color: var(--cyber-purple);
    text-shadow: var(--glow);
    text-decoration: none;
    letter-spacing: 2px;
}z

/* NAVIGATION BAR */
.navbar a {
    position: relative;
    color: #ecd8ff;
    text-decoration: none;
    margin-left: 40px;
    letter-spacing: 1px;
    transition: 0.3s;
}

/* UNDERLINE EFFECT HOVER */
.navbar a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: var(--cyber-purple);
    box-shadow: var(--glow);
    transition: 0.3s ease;
    transform: translateX(-50%);
}

.navbar a:hover::after {
    width: 100%;
}

/* ACTIVE NAV BAR */
.navbar a.active {
    color: var(--cyber-purple);
    text-shadow: var(--glow);
}

.navbar a.active::after {
    width: 100%;
}

/* HOME PAGE */
.home {
    height: 100vh;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient(circle at 20% 30%, 
        rgba(180, 0, 255, 0.20),
        rgba(0, 0, 0, 0)
    );
}

.home h1 {
    font-size: 1.8rem;
    color: white;
    margin: 10px 0 10px;
    text-shadow: 0 0 12px black;
}

.home h2 {
    font-size: 3.2rem;
    color: var(--cyber-purple);
    text-shadow: var(--glow);
}

.home p {
    font-size: 1.2rem;
    max-width: 550px;
    opacity: 0.85;
    margin-bottom: 25px;
}

.btn {
    display: inline-block;
    padding: 8px 12px;
    color: black;
    background: var(--cyber-purple);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 6px;
    letter-spacing: 1px;
    box-shadow: var(--glow);
    transition: 0.25s ease;
    width: fit-content;
}

.btn:hover {
    transform: translateY(-3px) scale(1.05);
    background: #8f00d1;
    box-shadow: 0 0 18px #b400ff;
}

.portrait {
    width: 600px;
    height: 600px;
    margin-left: 650px;
    position: absolute;
    margin-top: 100px;
}

/* ABOUT PAGE */
.about {
    height: 100vh;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: radial-gradient(circle at 20% 30%, 
        rgba(180, 0, 255, 0.12),
        rgba(0, 0, 0, 0)
    );
}

.about h1 {
    font-size: 3rem;
    color: var(--cyber-purple);
    text-shadow: var(--glow);
}

.about h2 {
    font-size: 1.8rem;
    color: var(--cyber-purple);
    margin: 8px 0 8px;
    text-shadow: var(--glow);
}

.about p {
    font-size: 1.2rem;
    max-width: 1000px;
    opacity: 0.85;
    margin-bottom: 20px;
}

/* SKILLS PAGE */
.skills {
    height: 100vh;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: radial-gradient(circle at 20% 30%, 
        rgba(180, 0, 255, 0.12),
        rgba(0, 0, 0, 0)
    );
/*
    background: linear-gradient(to right,
    rgba(180, 0, 255, 0.15),
    rgba(0, 0, 0, 1),
    rgba(180, 0, 255, 0.15)
    );
*/    
}

.skills h1 {
    font-size: 2.8rem;
    color: var(--cyber-purple);
    text-shadow: var(--glow);
}

.skills p {
    font-size: 1.2rem;
    max-width: 850px;
    opacity: 0.85;
    margin-bottom: 20px;
}

/* PROJECTS PAGE */
.projects {
    min-height: 100vh;
    padding: 0 10%;          
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    text-align: center;
    background: radial-gradient(circle at 20% 30%, 
        rgba(180, 0, 255, 0.12),
        rgba(0, 0, 0, 0)
    );
}

.projects h1 {
    font-size: 2.8rem;
    color: var(--cyber-purple);
    text-shadow: var(--glow);
    margin-bottom: 50px;
}

.projects-grid {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.project-card {
    padding: 25px;
    background: rgba(180, 0, 255, 0.05);
    border: 1px solid rgba(180, 0, 255, 0.3);
    border-radius: 12px;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 15px rgba(180, 0, 255, 0.15);
    transition: 0.3s ease, transform 0.25s ease;
}

.project-card:hover {
    transform: translateY(-6px);
    border-color: var(--cyber-purple);
    box-shadow: 0 0 25px rgba(180, 0, 255, 0.8);
}

.project-card h2 {
    color: var(--cyber-purple);
    text-shadow: var(--glow);
    margin-bottom: 12px;
    font-size: 1.5rem;
}

.project-card p {
    opacity: 0.85;
    margin-bottom: 18px;
}

.project-card a {
    display: inline-block;
    padding: 8px 14px;
    border-radius: 8px;
    color: black;
    background: var(--cyber-purple);
    box-shadow: var(--glow);
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    transition: 0.25s ease;
}

.project-card a:hover {
    transform: scale(1.08);
    background: #8f00d1;
    box-shadow: 0 0 20px #b400ff;
}

/* CONTACTS PAGE */
.contact {
    height: 100vh;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: radial-gradient(circle at 20% 30%, 
        rgba(180, 0, 255, 0.12),
        rgba(0, 0, 0, 0)
    );
}

.contact h1 {
    font-size: 2.5rem;
    color: var(--cyber-purple);
    text-shadow: var(--glow);
}

.contact p {
    font-size: 1.2rem;
    max-width: 800px;
    opacity: 0.85;
    margin-bottom: 20px;
}

.text-highlight {
    color: var(--cyber-purple);
    text-shadow: var(--glow);
    text-decoration: none;
}

.text-highlight:hover {
    color: white;
    text-shadow: 0 0 10px white;
    cursor: pointer;
}

/* BOTTOM WINDOW */
.footer-main {
    position: relative;
    background: #05070c;
    color: white;
    padding: 20px 0;
    border-top: 1px solid var(--cyber-purple);
    box-shadow: 0 -5px 15px rgba(180, 0, 255, 0.25);
    letter-spacing: 1px;
    display: flex;
    justify-content: center; /* center the copyright */
    align-items: center;
}

.footer-center {
    text-align: center;
    width: 100%;
}

.back-top {
    position: absolute;
    right: 25px;
    color: var(--cyber-purple);
    font-weight: 600;
    text-decoration: none;
    text-shadow: var(--glow);
    transition: 0.25s;
}

.back-top:hover {
    color: white;
    text-shadow: 0 0 10px white;
}

.bottom {
    color: var(--cyber-purple);
    text-shadow: 0 0 50px var(--glow);
}